{{!-- Footer --}}
<footer class="page-footer">
  <div>Seguinos en nuestras redes!</div>

  <div class="container">
    <div class="row">
      <div>
        <ul class="redes">
          <!-- Facebook -->
          <li class="red fb">
            <a class="bi bi-facebook" href="https://www.facebook.com/mel.rosario.56"> Facebook</a>
          </li>
          <!-- Twitter -->
          <li class="red tw">
            <a class="bi bi-twitter" href="https://twitter.com/"> Twitter</a>
          </li>
          <!--Instagram-->
          <li class="red ins">
            <a class="bi bi-instagram" href="https://www.instagram.com/msz_78/"> Instagram</a>
          </li>
          <!--Whatsapp-->
          <li class="red what">
          <a class="bi bi-whatsapp" href="https://wa.me/5493416753047/?text=Hola!%20dejame%20tu%20mensaje%20:)"> Whatsapp</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>Copyright © 2021 - Mel´s World</div>

</footer>