<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Su mensaje ha sido enviado...</title>
</head>

<body class="enviado container">
  <section class="mensEnv text-center">
    <p class="textenv">¡Su mensaje ha sido enviado con éxito!</p>
    <img class="img-fluid" src="/assets/f25bc2205cc9d3333b17c70fa90e3730.gif">


    <div class="textenv">
      <a class="volver" href="/"> Volver a inicio </a>
    </div>
  </section>







  <script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>