<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body class="bodyTienda">
    <header>
      <nav class="navbarHome navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-end">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse p-3 justify-content-center"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/"
                  >Mel's World</a
                >
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-unstyled">
              <li class="submenu">
                <img
                  src="./assets/portfolio/baski.png"
                  id="img-carrito"
                />
                <div id="carrito">
                  <table id="lista-carrito" class="u-full-width">
                    <thead>
                      <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>

                  <!-- <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a> -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="container justify-content-center p-5" id="lista-productos">
      <div class="row justify-content-center">
        <div class="card col-lg-3 col-md-6" style="width: 18rem">
          <img
            src="assets/portfolio/thumbnails/1.jpg"
            class="card-img-top p-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <h6 class="precio">$500</h6>
            <a
              href="#"
              class="btn btn-primary input agregar-carrito"
              data-id="2"
              >Agregar a carrito</a
            >
          </div>
        </div>
        <div class="card col-lg-3 col-md-6" style="width: 18rem">
          <img
            src="assets/portfolio/thumbnails/2.jpg"
            class="card-img-top p-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <h6 class="precio">$300</h6>
            <a href="#" class="btn btn-primary input agregar-carrito" data-id="2">Agregar a carrito</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6" style="width: 18rem">
          <img
            src="assets/portfolio/thumbnails/3.jpg"
            class="card-img-top p-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <h6 class="precio">$400</h6>
            <a href="#" class="btn btn-primary input agregar-carrito" data-id="2">Agregar a carrito</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6" style="width: 18rem">
          <img
            src="assets/portfolio/thumbnails/4.jpg"
            class="card-img-top p-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <h6 class="precio">$350</h6>
            <a href="#" class="btn btn-primary input agregar-carrito" data-id="2">Agregar a carrito</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6" style="width: 18rem">
          <img
            src="assets/portfolio/thumbnails/5.jpg"
            class="card-img-top p-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <h6 class="precio">$600</h6>
            <a href="#" class="btn btn-primary input agregar-carrito" data-id="2">Agregar a carrito</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6" style="width: 18rem">
          <img
            src="assets/portfolio/thumbnails/6.jpg"
            class="card-img-top p-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <h6 class="precio">$450</h6>
            <a href="#" class="btn btn-primary input agregar-carrito" data-id="2">Agregar a carrito</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6" style="width: 18rem">
          <img
            src="assets/portfolio/thumbnails/1.jpg"
            class="card-img-top p-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <h6 class="precio">$560</h6>
            <a href="#" class="btn btn-primary input agregar-carrito" data-id="2">Agregar a carrito</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6" style="width: 18rem">
          <img
            src="assets/portfolio/thumbnails/1.jpg"
            class="card-img-top p-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <h6 class="precio">$250</h6>
            <a href="#" class="btn btn-primary input agregar-carrito" data-id="2">Agregar a carrito</a>
          </div>
        </div>
      </div>
    </section>

{{>footer}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
